*.log
TestResult.xml
Gemfile.lock
*.apk
*.ipa
example/Assets/BugsnagPerformance
testResults.xml
BugsnagPerformance.unitypackage
features/fixtures/mazerunner/Assets/BugsnagPerformance
features/fixtures/mazerunner/Packages
BugsnagPerformance.meta
EditorSettings.asset
GraphicsSettings.asset
BugsnagPerformance/Assets/Resources
packages-lock.json
manifest.json
