[submodule "BugsnagPerformance/Assets/BugsnagPerformance/Scripts/BugsnagUnityWebRequest"]
	path = BugsnagPerformance/Assets/BugsnagPerformance/Scripts/BugsnagUnityWebRequest
	url = git@github.com:bugsnag/BugsnagUnityWebRequest.git
