*.log
TestResult.xml
Gemfile.lock
*.apk
*.ipa
example/Assets/BugsnagPerformance
testResults.xml
BugsnagPerformance.unitypackage
features/fixtures/mazerunner/Assets/BugsnagPerformance
BugsnagPerformance.meta
EditorSettings.asset
GraphicsSettings.asset
BugsnagPerformance/Assets/Resources
packages-lock.json
upm/package/Runtime
upm/package/Editor
Editor.meta
upm/package
BugsnagPerformance/Assets/Bugsnag
native/MacOS/BugsnagUnityPerformanceMacOS/BugsnagUnityPerformanceMacOS.xcodeproj/project.xcworkspace/xcuserdata
native/MacOS/BugsnagUnityPerformanceMacOS/BugsnagUnityPerformanceMacOS.xcodeproj/xcuserdata
upm-package.zip
mazerunner_*.zip
features/fixtures/mazerunner/Packages/package
features/fixtures/mazerunner/mazerunner_BackUpThisFolder_ButDontShipItWithYourGame
features/fixtures/minimalapp/Packages
features/fixtures/minimalapp/minimal_with_xcode
features/fixtures/minimalapp/minimal_without_xcode
features/fixtures/mazerunner/mazerunner_macos_BackUpThisFolder_ButDontShipItWithYourGame
BugsnagPerformance/.vscode
features/fixtures/mazerunner/Assets/Bugsnag
features/fixtures/mazerunner/.vscode
.DS_Store
maze_output.zip
