src/BugsnagPerformance/.vs
src/BugsnagPerformance/BugsnagPerformance/bin
src/BugsnagPerformance/BugsnagPerformance/obj
package-project/Library
*.log
package-project/Temp
BugsnagPerformance.dll
manifest.json
src/BugsnagPerformance/BugsnagPerformance.Tests/bin
src/BugsnagPerformance/BugsnagPerformance.Tests/obj
src/BugsnagPerformance/packages
BugsnagPerformance.Tests.csproj.user
BugsnagPerformance.unitypackage
TestResult.xml
tools
Gemfile.lock
EditorSettings.asset
features/fixtures/mazerunner/Library
features/fixtures/mazerunner/Assets/BugsnagPerformance
BugsnagPerformance.meta
features/fixtures/mazerunner/.vs
features/fixtures/mazerunner/obj
